.titulo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1976d2;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  margin-left: 27px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.campo {
  width: 100%;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-guardar {
  background-color: #1976d2 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px 18px;
  transition: 0.3s ease-in-out;
}

.btn-guardar:hover {
  background-color: #1976d2 !important;
  transform: scale(1.05);
}

.btn-cancelar {
  border-radius: 8px;
  padding: 6px 18px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  background-color: red !important;
  color: white;
  margin-right: 16px;
}

.btn-cancelar:hover {
  background-color: rgba(255, 0, 0, 0.05);
  transform: scale(1.05);
}
