.form-card, .table-card {
  margin: 20px;
  padding: 20px;
  margin-left: 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.text-right {
  text-align: right;
}
