.event-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 280px;
}

mat-form-field {
  width: 100%;
}

.titulo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1976d2;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  margin-left: 27px;
}
